@font-face {
    font-family: 'digitalism';
    src: url('../font/digitalism.ttf') format('ttf'),
    url('../font/digitalism-webfont.woff2') format('woff2'),
    url('../font/digitalism-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --color-text: var(--light);
    --color-text-active: var(--white);
    --color-background: #34415E;
    --color-background-active: #205D86;
}
@media (prefers-color-scheme: light) {
    :root{
        --color-text: #34415E;
        --color-text-active: #205D86;
        --color-background: var(--light);
        --color-background-active: var(--white);
    }
}
html,
body {
    background-color: var(--color-background);
    color: var(--color-text);
}

#home-banner-image {
    background-image: url("../img/background-home.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 650px;
}

#home-banner-image-bg-color {
    background-color: RGBA(0, 0, 0, 0.3);
    min-height: 650px;
    color: white;
    text-align: center;
    display: grid;
}

#home-banner-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-banner-image-bg-color h1 {
    font-size: 60px;
}

.div-background-color {
    background-color: wheat;
}

.navbar-text {
    color: rgba(255,255,255,.5);
    padding: .5rem 1rem;

}

.form-ul-style li {
    list-style: none;
    color: var(--danger);

}

.button-right {
    float: right;
}

.home-card {
    font-weight: bold;
    color: var(--color-text);
    /*text-decoration: underline;*/
}
.home-card:hover {
    color: var(--color-text-active);
    text-decoration: none;
}

.home-card-titre {
    width: 100%;
    border-bottom: var(--color-text) 1px solid;
    padding-bottom: 5px;
}

.table a.font-weight-bold {
    color: #63aeff;
}

.timer {
    color: var(--white);
    font-family: 'digitalism', sans-serif;
    font-size: 300%;
    text-shadow: 0 0 1.5px currentColor;
    background: #1a1a1a;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    border-radius: 15px;
    background: -moz-radial-gradient(ellipse, rgba(30,30,30,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(ellipse, rgba(30,30,30,1) 50%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse, rgba(30,30,30,1) 50%, rgba(0,0,0,1) 100%);
    box-shadow: 0 0 20px 0px #111a;
}
.timer > div > div {
    width: 285px;
}
.btn-timer {
    font-size: 50%;
    margin-right: 20px;
}

.timer .caption {
    font-size: 20px;
}