@font-face {
    font-family: 'digitalism';
    src: url('../font/digitalism.ttf') format('ttf'),
    url('../font/digitalism-webfont.woff2') format('woff2'),
    url('../font/digitalism-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
    background-color: #064872;
}
.timer-background {
    background-color: #064872;
    color: #f5f5f5;
}

#home-banner-image {
    background-image: url("../img/background-home.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 650px;
}

#home-banner-image-bg-color {

    background-color: RGBA(0, 0, 0, 0.3);
    min-height: 650px;
    color: white;
    text-align: center;
    display: grid;
}

#home-banner-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-banner-image-bg-color h1 {
    font-size: 60px;
}

.div-background-color {
    background-color: wheat;
}

.navbar-text {
    color: rgba(255,255,255,.5);
    padding-left: 1rem;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;

}

.form-ul-style li {
    list-style: none;
    color: #fc545c;

}

.button-right {
    float: right;
}

.home-card {
    font-weight: bold;
    color: white;
    /*text-decoration: underline;*/
}
.home-card:hover {
    color: #E0E0E0;
    text-decoration: none;
}

.home-card-titre {
    width: 100%;
    border-bottom: white 1px solid;
    padding-bottom: 5px;
}

.timer {
    font-family: 'digitalism', sans-serif;
    font-size: 300%;
}