.timer-background {
    background-color: #fff3e0;
}

#home-banner-image {
    background-image: url("../img/background-home.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 650px;
}

#home-banner-image-bg-color {

    background-color: RGBA(0, 0, 0, 0.4);
    min-height: 650px;
    color: white;
    text-align: center;
    display: grid;
}

#home-banner-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-banner-image-bg-color h1 {
    font-size: 60px;
}

.div-background-color {
    background-color: wheat;
}


.home-card {
    font-weight: bold;
    color: #454545;
}
.home-card:hover {
    color: #007BFF;
    text-decoration: none;
}
