{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="col-12 mt-5"> Project View</h1>
            <div class="col-xl-9 col-lg-10 col-md-11 col-12 my-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Project View</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-11 ">
                <div class="container">
                    <div class="row ml-md-2">
                        <div class="col-12 d-flex mb-0">
                            <h4> Name</h4>
                            <span class="ml-auto">Disband</span>
                        </div>
                        <div class="col-12 ml-2"> Project : Projet Timer</div>

                        <div class="ml-3 mt-3 col-12">
                            <div class="col-12 d-flex">
                                <div> Chef de Projet : bipbipbip</div>
                                <span class="ml-auto">Modifier</span>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-md-2 my-3">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-11 ">
                <div class="container">
                    <div class="row ml-md-2">
                        <div class="col-12 d-flex mb-0">
                            <h4> Name</h4>
                            <span class="ml-auto">Disband</span>
                        </div>
                        <div class="col-12 ml-2"> Project : Projet Timer</div>

                        <div class="ml-3 mt-3 col-12">
                            <div class="col-12 d-flex">
                                <div> Chef de Projet : bipbipbip</div>
                                <span class="ml-auto">Modifier</span>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div> Utilisateur 1</div>
                                <div class="ml-auto">
                                    <span>Suprimer</span> /
                                    <span >Modifier</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-md-2 my-3">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


